*{
    margin: 0;
    padding: 0;
}
.body-container{
    background: #0a0a0a;
}
/* Common css end */
/* 1st grid layout start */
.container{
    border: 2px solid;
    border-color: green;
    display: grid;
    grid-template-columns: 100px repeat(4, 1fr);
    grid-template-rows: 300px 150px 200px 250px;
    gap: 15px;
    padding: 15px;
    margin: 50px;
}
.sidber{
    grid-row: 1 / -1;
}
.banner{
    grid-column: 2 / -1;
}
.chart-one{
    grid-column: 2 / 4;
}
.chart-two{
    grid-column: 4 / 6;
}
.reviwe{
    grid-column: 2 / 5;
}
.box{
    background: #037dad;
    border-radius: 3px;
    text-align: center;
    font-size: 30px;
}
/* 1st grid layout end */
/* 2nd grid layout start */
.second-container{
    display: grid;
    grid-template-columns: 150px 1040px repeat(1, 1fr) ;
    grid-template-rows: 150px 150px 150px 100px;
    gap: 10px;
    padding: 15px;
    margin: 50px;
}
.boxx{
    border: 1px solid;
    background: #037dad;
    border-radius: 3px;
    text-align: center;
    font-size: 30px;
}
.aheader{
    grid-column: 1 / -1;
}
.navigation{
    grid-row: 2 / -2;
}
.main-content{
    grid-row: 2 / -2;
}
.afooter{
    grid-column: 1 / -1;
}
nav li{
    list-style: none;
}
nav li a{
    text-decoration: none;
}
/* 2nd grid layout start */
/* Define Grid Area */
.header{
    grid-area: header;
}
.manu{
    grid-area: manu;
}
.main{
    grid-area: main;
}
.aside{
    grid-area: aside;
}
.ad{
    grid-area: ad;
}
.footer{
    grid-area: footer;
}
.header, .manu, .aside, .ad, .footer, .main{
    border: 1px solid;
}
/* Grid area css start */
.third-container{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    gap: 20px;
    grid-template-areas: 
    "header header header header"
    "manu    main   main   aside"
    "manu    main   main    ad"
    "footer footer footer footer"
    ;
}
/* grid area midea quary */
@media screen and (max-width:576px){
    .third-container{
        background: rgb(248, 186, 186);
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "manu"
        "main"
        "aside"
        "ad"
        "footer"
        ;
    }
}
/* @media screen and (max-width:792px) and (min-width:577){
    .third-container{
        background: rgb(75, 52, 52);
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
        "header header header"
        "manu manu manu"
        "aside main main"
        "ad footer footer"
        ;
    }
} */