*{
    margin: 0;
    padding: 0;
}
/* Common css end */
.body-container{
    background: #0a0a0a;
}
.container{
    border: 2px solid;
    border-color: green;
    display: grid;
    grid-template-columns: 100px repeat(4, 1fr);
    grid-template-rows: 300px 150px 200px 250px;
    gap: 15px;
    padding: 15px;
    margin: 50px;
}
.sidber{
    grid-row: 1 / -1;
}
.banner{
    grid-column: 2 / -1;
}
.chart-one{
    grid-column: 2 / 4;
}
.chart-two{
    grid-column: 4 / 6;
}
.reviwe{
    grid-column: 2 / 5;
}
.box{
    background: #037dad;
    border-radius: 3px;
    text-align: center;
    font-size: 30px;
}